.gallery_component{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10em;
}


.gallery {
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
  overflow: visible;
  max-width: auto;
  width: 800vh;
}

.image {
  width: 30vw;
  filter: saturate(0);
  padding: 1rem;
  align-items: center;
  display: inline-flex;
}

.image:nth-child(2n) {
  width: 25vw;
}

.image:hover {
  z-index: 99999999999 !important;
  filter: saturate(1);
}

.image img {
  transition: 0.3s ease-out;
  overflow: hidden;
  width: 100%;
}
