* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #000;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  place-items: center;
  overflow-x: hidden;
  background-color: #faf6f0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.component-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.75);
  z-index: 0;
}

::-webkit-scrollbar {
  display: none;
}
