.page_2-component {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: "Akshar", sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_2-component div {
  width: 90%;
}

.page_2-component div p {
  font-size: clamp(1.5em, 4vw, 35px);
}
