.page_1-component {
  background-image: url("/public/assets/images/landing_back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: "Advent Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
}

.page_1-component header {
  padding: 20px;
  position: relative;
  z-index: 1;
}

.logo-wrapper {
  height: 40px;
  width: 40px;
}

.page_1-text-wrapper {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  z-index: 1;
}

.page_1-text-wrapper h1 {
  font-size: 145px;
  font-weight: 300;
}
.page_1-text-wrapper div {
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.page_1-text-wrapper div span {
  font-size: 25px;
}

.page_1-component footer div {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vl {
  border-left: 2px solid #fff;
  height: 40px;
  margin-top: 10px;
}

.wb {
  background-color: #faf6f0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.white-space {
  height: 100vh;
  width: 100%;
}
