.page_3-component {
  width: 100%;
  min-height: 100vh;
  font-family: "Advent Pro", sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.page_3-component section {
  width: 100%;
}

.page_3-component header h1 {
  font-size: clamp(4em, 8vw, 100px);
  font-weight: 400;
  text-transform: uppercase;
  margin: 1em 0;
  text-align: center;
}

.page_3-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
  padding: 2em;
}

.page_3-content:nth-child(even) {
  flex-direction: row-reverse;
}
.page_3-img-wrapper {
  text-align: center;
  background-color: red;
  height: min-content;
}

.page_3-content  img {
  height: 300px;
  width: 500px;
}

.page_3-text-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page_3-text-wrapper h1 {
  font-size: clamp(2em, 5vw, 50px);
  font-weight: 400;
  text-transform: uppercase;
}

.page_3-text-wrapper p {
  font-family: "Akshar", sans-serif;
  width: clamp(20em, 30vw, 40em);
  font-size: clamp(1em, 3vw, 22px);
  margin: 20px 0;
  padding: 20px;
}
@media only screen and (max-width: 500px) {
  .page_3-content img {
    height: 200px;
    width: 300px;
  }
  .page_3-text-wrapper p {
    margin: 0;
  }
  .page_3-content {
    margin: 0px 0;
  }
}

@media only screen and (max-width: 1024px) {
  .page_3-content {
    flex-direction: column;
  }
  .page_3-content:nth-child(even) {
    flex-direction: column;
  }
  .page_3-text-wrapper {
    margin-top: 2em;
  }
  .page_3-img-wrapper {
    height: 300px;
    width: 500px;
  }
}
