.page_4-component {
  width: 100%;
  min-height: 100vh;
  font-family: "Advent Pro", sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-wrap: break-word;
  position: relative;
}

.page_4-component header h1 {
  font-size: 100px;
  font-weight: 400;
  text-transform: uppercase;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .col {
  padding: 0 20px;
  float: left;
  box-sizing: border-box;
}
.row .col.x-50 {
  width: 50%;
}
.row .col.x-100 {
  width: 100%;
}
.content-wrapper {
  min-height: 100%;
  position: relative;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #000;
  font-family: "Akshar", sans-serif;
  font-size: clamp(12px, 2vw, 18px);
  line-height: 26px;
  font-weight: 400;
  color: #000;
  word-wrap: break-word;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: "Akshar", sans-serif;
  font-size: clamp(12px, 2vw, 20px);
  line-height: 26px;
  font-weight: 400;
  color: #000;
  cursor: text;
  text-transform: uppercase;
  transition: transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
  border-radius: 20px;
  font-family: "Akshar", sans-serif;
  text-transform: uppercase;
  font-size: clamp(12px, 2vw, 18px);
  line-height: 24px;
  padding: 8px 40px;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form .submit-btn:hover {
  background-color: #000;
  color: #fff;
}

.page_4-component footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  font-family: "Akshar", sans-serif;
}


.page_4-component footer div:nth-child(1) span {
  margin-left: 10px;
}

.page_4-component footer div a {
  color: #000;
  font-weight: 500;
}
