.page_1-component {
  background-image: url("/assets/images/landing_back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: "Advent Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
}

.page_1-component header {
  padding: 20px;
  position: relative;
  z-index: 1;
}

.logo-wrapper {
  height: 40px;
  width: 40px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.logo-wrapper img {
  position: relative;
  overflow: hidden;
  opacity: 0;
}


.page_1-text-wrapper {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  position: relative;
  z-index: 1;
}

.page_1-text-wrapper h1 {
  font-size: clamp(5em, 9vw, 145px);
  font-weight: 300;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.page_1-text-wrapper h1 span {
  position: relative;
  top: 100vw;
}

.page_1-text-wrapper div {
  min-width: 30vw;
  display: flex;
  justify-content: space-around;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.page_1-text-wrapper div span {
  position: relative;
  font-size: clamp(1em, 3vw, 25px);
  top: 100vw;
  text-align: center;
}

.page_1-component footer div {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_1-footer div span {
  font-size: clamp(0.8em, 2vw, 16px);
}

.vl {
  border-left: 2px solid #fff;
  height: 40px;
  margin-top: 10px;
}

.wb {
  background-color: #faf6f0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
