.page_3-component {
    width: 100%;
    min-height: 100vh;
    font-family: "Advent Pro", sans-serif;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-wrap: break-word;
  }

  .page_3-component section{
    width: 100%;
  }

  .page_3-component header h1 {
    font-size: 100px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .page_3-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
  }

  .page_3-content:nth-child(even){
    flex-direction: row-reverse;
  }
  
  .page_3-img-wrapper{
    height: 300px;
    width: 500px;
  }

  .page_3-text-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .page_3-text-wrapper h1{
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .page_3-text-wrapper p{
    font-family: "Akshar", sans-serif;
    width: 30vw;
    font-size: 22px;
    margin: 20px 0;
  }