.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #faf6f0;
  font-family: "Advent Pro", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}



.preloader-text {
  position: relative;
  margin: 1em 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.counter p {
  font-size: 6em;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
}

.counter p span {
  position: relative;
  z-index: -2;
  color: #000;
}
